:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
/* paragraphs */
    --transpWhite: hsla(0, 0%, 100%, 0.75);
/* background, headings, buttons */
    --veryLightGray: hsl(0, 0%, 95%);
}

/*reset defaults*/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--veryLightGray);
    color: var(--transpWhite);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main {
    max-width: 920px;
    margin-inline: 1.5rem;
    margin-block: 5.5rem;
    display: grid;
    border-radius: 8px;
    overflow: hidden;
}

.card {
    padding: 3rem;
    justify-items: start;
    padding-block: 3rem;
    padding-inline: 3rem;
    max-width: 327px;
}

.card-sedans {
    background-color: var(--brightOrange);
}

.card-suvs {
    background-color: var(--darkCyan);
}

.card-luxury {
    background-color: var(--veryDarkCyan);
}

.card h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    text-transform: uppercase;
    color: var(--veryLightGray);
    padding-block-start: 2.125rem;
    padding-block-end: 1.875rem;
}

.card img {
    order: -1;
}

.card p {
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-block-end: 1.5rem;
}

.card button {
    font-family: inherit;
    font-size: 0.9375rem;
    width: 9.25rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 3px solid var(--veryLightGray);
    background-color: var(--veryLightGray);
}

button {
    cursor: pointer;
}

.button-sedans {
    color: var(--brightOrange);
}

.button-suvs {
    color: var(--darkCyan);
}

.button-luxury {
    color: var(--veryDarkCyan);
}

.button-sedans:hover {
    background-color: var(--brightOrange);
    color: var(--transpWhite);
}

.button-suvs:hover {
    background-color: var(--darkCyan);
    color: var(--transpWhite);
}

.button-luxury:hover {
    background-color: var(--veryDarkCyan);
    color: var(--transpWhite);
}

.attribution { font-size: 11px; text-align: center; display: none; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 50em) {
    main {
        grid-template-columns: repeat(3, 1fr);
        margin-block-start: 2.5rem;
        margin-block-end: 0;
    }
    .card p {
        margin-block-end: 5rem;
    }
}
